<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/principal-fragment}">
    <div class="content" layout:fragment="content">
        <div class="row">
            <form class="form-search form" method="get" th:action="@{search}" style="width: 80% !important">
                <div class="col-sm">
                    <div class="input-group no-border">
                        <input type="text" id="searchbar" name="searchbar" class="form-control"
                               placeholder="pesquise por nome, marca, placa, grupo ou status...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm text-right">
                <a th:href="@{add}" class="btn btn-rose">[[#{page.title.vehicles.add }]]</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" th:each="v : ${vehicles}">
                <div class="card card-blog">
                    <div class="card-header card-header-image justify-content-center text-center">
                        <a href="#pablo">
                            <img class="img" th:src="${v.getBase64Photo()}">
                            <div class="card-title" style="text-shadow: 1px 1px 1px #000">
                                [[${v.vclName}]]
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-info">
                            [[${v.getGroup().grpDesc}]] ([[${v.getGroup().grpName}]])
                            <div class="pull-right">
                                <span class="badge badge-pill badge-success" th:if="${v.getStatus().stsCode} == 1">Disponível</span>
                                <span class="badge badge-pill badge-secondary" th:if="${v.getStatus().stsCode} == 2">Locado</span>
                                <span class="badge badge-pill badge-danger" th:if="${v.getStatus().stsCode} == 3">Oficina</span>
                            </div>
                        </h6>
                        <p class="card-description">
                            Placa: [[${v.vclPlaque}]]
                        </p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{edit(id=${v.vclCode})}" class="btn btn-just-icon btn-link btn-info"><i class="material-icons">edit</i></a>
                        <a th:href="@{details(id=${v.vclCode})}" class="btn btn-just-icon btn-link btn-success"><i class="material-icons">info</i></a>
                        <a th:href="@{delete(id=${v.vclCode})}" class="btn btn-just-icon btn-link btn-danger"><i class="material-icons">delete_outline</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>